<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Tapahtui virhe!</h4>
  Polttimen palauttama virhe: "Too low light value."
</div>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="Delay">Viive (sekunttia):</label>

        <div class="controls">
            <input type="number" name="Delay" id="Delay" data-ng-model="ScrewTimeInSeconds" min="1" max="100">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ScrewTime">Ruuvi päällä (sekunttia):</label>

        <div class="controls">
            <input type="number" name="ScrewTime" id="ScrewTime" data-ng-model="DelayTimeInSeconds" min="1" max="10">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="FireWatch">Tulivahdin raja:</label>
            <div class="controls">
                <input type="number" name="FireWatch" id="FireWatch" data-ng-model="CurrentFireLimit" min="0" max="256">
                <input type="text" id="CurrentFireWatchValue" data-ng-model="currentLightSensorValue" disabled="true">
            </div>
        </div>
    <div class="control-group">
        <div class="controls">
            <toggle-button variable="IsEnabled"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button data-ng-click="updateSettings()" class="btn">Päivitä asetukset</button>
        </div>
    </div>

    <input type="text" data-ng-model="IsEnabled" disabled="true">
</form>