<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Tapahtui virhe!</h4>
  Polttimen palauttama virhe: "Too low light value."
</div>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Viive (sekunttia):</label>

        <div class="controls">
            <input type="number" data-ng-model="screwSec" min="1" max="100">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Ruuvi päällä (sekunttia):</label>

        <div class="controls">
            <input type="number" data-ng-model="delaySec" min="1" max="10">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Tulivahdin raja:</label>
            <div class="controls">
                <input type="number" data-ng-model="lightSensor" min="0" max="256">
                <input type="text" data-ng-model="lightSensorMeasured" disabled="true">
            </div>
        </div>
    <div class="control-group">
        <label class="control-label">Aseta tila:</label>
        <div class="controls">
            <toggle-button for-variable="isEnabled"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button data-ng-click="updateSettings()" class="btn">Päivitä asetukset</button>
        </div>
    </div>
</form>