    <script>
        setInterval(function () {
            $.ajax({ url:"/messages.read.simulator", success:function (data) {
                document.getElementById("LogContainer").innerHTML = data.Log;
                document.getElementById("ScrewState").value = data.ScrewState;
                document.getElementById("FanState").value = data.FanState;
            }, dataType:"json"});
        }, 1000);
    </script>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="FireWatch">Paluuarvo tulivahdilta:</label>

            <div class="controls">
                <input type="text" id="FireWatch" placeholder="{{ burnerProcess._controller._burner._ioCard.AdcValue }}" name="FireWatch">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ScrewState">Ruuvin tila:</label>

            <div class="controls">
                <input type="text" id="ScrewState" name="FireWatch">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="FanState">Tuulettimen tila:</label>

            <div class="controls">
                <input type="text" id="FanState" name="FireWatch">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Päivitä asetukset</button>
            </div>
        </div>
    </form>
    <pre>
<span id="LogContainer"></span>
</pre>