<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Hakkeenpolttimen kontrollit</title>
    <LINK href="static/index.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div id="stylized" class="myform">
        <form id="form" name="form" method="get" action="">
            <h1>Hakkeenpolttimen ohjain</h1>
            <p>Asetukset</p>

            <label>Kokonaisviive
                <span class="small">Sekunttia</span>
            </label>
            <input type="number" name="delay" value="{{ delay }}" min="3" required="true"/>

            <label>Ruuvi
                <span class="small">Sekunttia</span>
            </label>
            <input type="number" name="screwTime" value="{{ screwTime }}" min="1" required="true"/>

            <label>Tuuletin
                <span class="small">Sekunttia</span>
            </label>
            <input type="number" name="fanTime" value="{{ fanTime }}" min="1" required="true"/>

            <label>Laite päälle</label>
            <input type="radio" name="enabled" value="True" {% if enabled %} checked {% endif %}/>

            <label>Laite pois päältä</label>
            <input type="radio" name="enabled" value="False" {% if not enabled %} checked {% endif %}/>

            <button type="submit">Päivitä</button>
        </form>

        <div class="spacer"></div>

            {% if exceptionMessages != "" %}
                <div class="error"> {{ exceptionMessages }}</div>
            {% endif %}

            {% if status != "" %}
                <div class="info"> {{ status }}</div>
            {% endif %}

    </div>
{{ message }}
</body>
</html>