<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Hakkeenpolttimen kontrollit</title>
    <LINK href="static/index.css" rel="stylesheet" type="text/css">
    <script src="static/jquery-1.8.3.js"></script>
    <script>
        setInterval(function(){
            $.ajax({ url: "/messages/", success: function(data){
                document.getElementById("statusBox").innerHTML = data.status;

                if (data.errors != "") {
                    document.getElementById("errorBox").innerHTML = data.errors;
                    document.getElementById("errorBox").style.visibility = 'visible'
                }
                else {
                    document.getElementById("errorBox").style.visibility = 'hidden'
                }

            }, dataType: "json"});
        }, 3000);
    </script>
</head>
<body>

    <div id="stylized" class="myform">
        <form id="form" name="form" method="get" action="">
            <h1>Hakkeenpolttimen ohjain</h1>
            <p>Asetukset</p>

            <label>Kokonaisviive
                <span class="small">Sekunttia</span>
            </label>
            <input type="number" name="delay" value="{{ burner.Delay }}" min="3" max="100" required="true"/>

            <label>Ruuvi
                <span class="small">Sekunttia</span>
            </label>
            <input type="number" name="screwTime" value="{{ burner.ScrewTime }}" min="1" max="30" required="true"/>

            <label>Tuuletin
                <span class="small">Sekunttia</span>
            </label>
            <input type="number" name="fanTime" value="{{ burner.FanTime }}" min="1" max="100" required="true"/>

            <label>Laite päälle</label>
            <input type="radio" name="enabled" value="True" {% if burner.Enabled %} checked {% endif %}/>

            <label>Laite pois päältä</label>
            <input type="radio" name="enabled" value="False" {% if not burner.Enabled %} checked {% endif %}/>

            <button type="submit">Päivitä</button>
        </form>

        <div class="spacer"></div>
            <div class="error" id="errorBox"></div>
            <div class="info" id="statusBox">Waiting for update ...</div>

    </div>
{{ message }}
</body>
</html>