{% extends "base.html" %}
{% block content %}
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="ScrewTime">Viive (sekunttia):</label>
        <div class="controls">
            <input type="number" id="Delay" placeholder="2" min="1" max="100">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ScrewTime">Ruuvi päällä (sekunttia):</label>
        <div class="controls">
            <input type="number" id="ScrewTime" placeholder="2" min="1" max="10">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="FireWatch">Tulivahdin raja:</label>
        <div class="controls">
            <input type="number" id="FireWatch" placeholder="2" min="0" max="256">
            <input type="text" placeholder="Ei arvoa" disabled="true">
        </div>
    </div>
    <div class="control-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
        <label class="control-label"></label>
        <div class="controls">
            <button type="button" value="0" class="btn" data-toggle="button">Päällä</button>
            <button type="button" value="1" class="btn" data-toggle="button">Pois päältä</button>
            <input type="hidden" name="is_private" value="0" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Päivitä asetukset</button>
        </div>
    </div>
</form>
{% endblock %}