{% extends "base.html" %}
{% block content %}

    <form class="form-horizontal" method="GET">
        <div class="control-group">
            <label class="control-label" for="Delay">Viive (sekunttia):</label>

            <div class="controls">
                <input type="number" name="Delay" id="Delay" placeholder="{{ burnerProcess.DelaySec }}" min="1" max="100">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ScrewTime">Ruuvi päällä (sekunttia):</label>

            <div class="controls">
                <input type="number" name="ScrewTime" id="ScrewTime" placeholder="{{ burnerProcess.ScrewSec }}" min="1" max="10">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="FireWatch">Tulivahdin raja:</label>

            <div class="controls">
                <input type="number" name="FireWatch" id="FireWatch" placeholder="{{ burnerProcess.FireLimit }}" min="0" max="256">
                <input type="text" id="CurrentFireWatchValue" placeholder="{{ burnerProcess.get_fire_value() }}" disabled="true">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="FireWatch"></label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="enabled" id="optionsRadios1" value="True" {% if  burnerProcess.Enabled %} checked {% endif %}>
                    Laite päällä
                </label>
                <label class="radio">
                    <input type="radio" name="enabled" id="optionsRadios1" value="False" {% if not burnerProcess.Enabled %} checked {% endif %}>
                    Laite pois päältä
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Päivitä asetukset</button>
            </div>
        </div>
    </form>
{% endblock %}