{% extends "base.html" %}
{% block content %}
    <script>
        setInterval(function () {
            $.ajax({ url:"/messages.read.simulator", success:function (data) {
                document.getElementById("LogContainer").innerHTML = data.iocard_log;
            }, dataType:"json"});
        }, 1000);
    </script>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="FireWatch">Paluuarvo tulivahdilta:</label>

            <div class="controls">
                <input type="text" id="FireWatch" placeholder="2" name="FireWatch">
            </div>
        </div>
        <div class="control-group" data-toggle-name="is_private" data-toggle="buttons-radio">
            <label class="control-label">Virhetila</label>

            <div class="controls">
                <button type="button" value="0" class="btn" data-toggle="button">Virhe</button>
                <button type="button" value="1" class="btn" data-toggle="button">Kortti toimii</button>
                <input type="hidden" name="is_private" value="0"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Päivitä asetukset</button>
            </div>
        </div>
    </form>
    <pre>
<span id="LogContainer"></span>
    </pre>
{% endblock %}