<!doctype html>
<html lang="en" data-ng-app="burnerApp">
<head>
    <meta charset="utf-8">
    <title>Hakkeenpolttimen kontrollit</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">Hakkeenpoltin</a>
    <ul class="nav">
      <li><a href="#settings">Asetukset</a></li>
      <li><a href="#statistics">Statistiikka</a></li>
      <li><a href="#simulator">Simulaattori</a></li>
    </ul>
  </div>
</div>

<div data-ng-view class="container">

</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/lib/bootstrap.js"></script>

<script src="static/lib/angular.js"></script>
<script src="static/lib/angular-resource.js"></script>
<script src="static/lib/angular-strap.min.js"></script>

<script src="static/js/app.js"></script>
<script src="static/js/services.js"></script>
<script src="static/js/controllers.js"></script>
<script src="static/js/directives.js"></script>
</body>
</html>